* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: whitesmoke;
    color: #232b2b;
    width: 99%;
}

.nav-links a {
    color: #232b2b;
    font-size: 16px;
}


.logo {
    font-size: 25px;
    color: #232b2b;
    margin-left: 10px;
}

/* .logo:hover {
    background-color: #232b2b;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */

.logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .logo:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #232b2b;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .logo:hover, .logo:focus, .logo:active {
    color: white;
  }
  .logo:hover:before, .logo:focus:before, .logo:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    text-decoration: none;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    padding: 5px 14px;
}

.menu a:hover {
    transition: all .4s ease-in-out;
    background-color: #feada6;
    color: white;
    border-radius: 10px;
}

header {
    font-size: 500%;
    width: 100%;
    display: flex;
    vertical-align: bottom;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    padding-top: 100px;
    padding-left: 10px;
    color: #232b2b;
    font-weight: 500;
}

h1{
    font-size: large;
    margin-top: 10px;
    margin-left: 10%;
}

.formulario {
    width: 100%;
    display: flex;
    /* padding: 20px; */
    justify-content: center;
    height: 500px;
}
.formulario-grupo input{
    height: 35px;
    width: 20%;
    border-radius: 4px;
    border: 1px solid
}

.formulario-grupo-input{
    position: relative;
}

.formulario-imput-error{
    font-size: 0.8em;
    font-weight: bold;
    display: none;

}

.formulario-imput-error-activo{
    display: block
}

.formulario-validacion-estado{
    position:sticky;
    opacity: 0;
}

.formulario-menzaje{
    margin: 10px 0;
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 5px;
    display: none;

}

.formulario-menzaje-activo{
    display: block;
}

.formulario-grupo-submit{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;


}

.formulario-btn{
    margin: 0 0 10px 0;
    height: 45px;
    line-height: 45px;
    width: 30%;
    font-size: large;
    font-weight: bolder;

}

.formulario-btn:hover{
    transform: scale(1.02);
    transition: all .4s ease-in-out; 
}

.formulario-menzaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;

}

.formulario-menzaje-exito-activo{
    display: block;
}

.formulario-grupo-correcto .formulario-validacion-estado{
    color:#1ed12d;
    opacity: 1;

}

.formulario-grupo-incorrecto label{
    font-weight: bold;
    color:#bb2929;

}
.formulario-grupo-incorrecto input{
    border: 3px solid #bb2929;

}
.formulario-grupo-incorrecto .formulario-validacion-estado{
    color:#bb2929;
    opacity: 1;

}


form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form li {
    list-style-type: none;
}

.curso-desplegable{
    width: 20%;

}

.nyap{
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: stretch;
    height: 150px;
    padding: 20px;
    background-color: #232b2b;
    color: #f5efef;
    width: 100%;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-links {
    padding-bottom: 25px;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}
.footer-links li:hover{
    transform: scale(1.2);
    transition: all .4s ease-in-out;
}

.footer-accesos {
    list-style-type: none;
    text-decoration: none;
}


.footer-accesos a {
    color: #f5efef;
    text-decoration: none;
}

.buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding-bottom: 25px;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

#summitButton{
    margin: 10px 0;
    width: 25%;
    
}

#copyright {
    font-size: x-small;
    text-align: center;
}

@media screen and (max-width: 500px) and (max-height: 1000px) {
    .container {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-content: center;
    }

    .horarios a {
        grid-area: horarios;
        text-decoration: none;
        background-color: #feada6;
        padding: 5px;
        color: white;
        border-radius: 10px;
    }

    .nav-links a {
        color: #232b2b;
        font-size: 12px;
    }
    
    .logo {
        font-size: 17px;
        color: #232b2b;
        margin-left: 5px;
    }
}