* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
   }

   .nav-links a {
    color: black;
   }

   .logo {
    font-size: 25px;
    color: black;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: gray;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

li {
    list-style: none;
}

header {
    font-size: 500%;
    width: 100%;
    display: flex;
    vertical-align: bottom;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    padding-top: 100px;
    padding-left: 15px;
}

img{
    border-radius: 5%;
}

.item-a{
    grid-area: photo;
}

.item-b{
    grid-area: aside;
}

.item-c{
    grid-area: title;
    font-size: xx-large;
}

.item-d{
    grid-area: main;
}

.container {
    margin-left: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 500px;
    column-gap: 70px;
    row-gap: 70px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
        "photo title"
        "aside main"
        "aside main";
}

footer{
    position: bottom;
    background-color: #070606;
    color: #f5efef;
    width: 100%;
}

#copyright {
    font-size: x-small;
}